*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 10px; }

body {
  font-family: 'popins', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #0B0D0E;
  color: #fff; }

.img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s; }

.fix {
  overflow: hidden; }

a,
.button,
button {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: #2B96CC;
  text-decoration: none; }

a {
  color: #1696e7;
  outline: medium none; }

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  font-weight: 700; }

h1 {
  font-size: 4rem;
  font-weight: 500; }

h2 {
  font-size: 6rem; }

h3 {
  font-size: 4rem; }

h4 {
  font-size: 3rem; }

h5 {
  font-size: 2.2rem; }

h6 {
  font-size: 1.6rem; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2.4rem;
  color: #fff;
  margin-bottom: 1.5rem; }

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 3rem 0;
  padding: 0; }

label {
  cursor: pointer; }

::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  background-color: rgba(8, 214, 101, 0.2); }

::-webkit-scrollbar-thumb {
  background-color: #08D665; }

*::-moz-selection {
  background: rgba(8, 214, 101, 0.8);
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: rgba(8, 214, 101, 0.8);
  color: #fff;
  text-shadow: none; }

::selection {
  background: rgba(8, 214, 101, 0.8);
  color: #fff;
  text-shadow: none; }

section {
  padding-bottom: 15rem; }

.fz-very-small {
  font-size: 1.2rem !important; }

.fz-small {
  font-size: 1.4rem !important; }

.fz-normal {
  font-size: 1.6rem !important; }

.fz-large {
  font-size: 2rem !important; }

.fz-extra-large {
  font-size: 2.4rem !important; }

.text-black {
  color: #0B0D0E !important; }

.text-theme {
  color: #08D665 !important; }

.bg-black {
  background-color: #0B0D0E !important; }

.bg-theme {
  background-color: #08D665 !important; }

.hover-text-black:hover {
  color: #0B0D0E !important; }

.hover-text-dark:hover {
  color: #343a40 !important; }

.hover-text-white:hover {
  color: #fff !important; }

.hover-text-theme:hover {
  color: #08D665 !important; }

.hover-bg-dark:hover {
  background-color: #343a40 !important; }

.hover-bg-black:hover {
  background-color: #0B0D0E !important; }

.hover-bg-white:hover {
  background-color: #fff !important; }

.hover-bg-theme:hover {
  background-color: #08D665 !important; }

.capitalize {
  text-transform: capitalize !important; }

.uppercase {
  text-transform: uppercase !important; }

.border-theme {
  border-color: #08D665 !important; }

.border-2 {
  border-width: 2px !important; }

.border-3 {
  border-width: 3px !important; }

.border-4 {
  border-width: 4px !important; }

.font-oswald {
  font-family: 'Oswald', sans-serif !important; }

.go-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #004e00;
  color: #fff;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(2rem);
  visibility: hidden;
  opacity: 0; }
  .go-to-top.active {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1; }
  .go-to-top:hover {
    transform: translateY(-4px); }
  .go-to-top:active {
    transform: translateY(-2px); }

.add {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(11, 13, 14, 0.3); }

ul.main-ul {
  width: 100%;
  max-width: 70rem; }
  ul.main-ul li {
    display: block;
    padding: 1rem 0; }
    ul.main-ul li a {
      float: left;
      transition: .3s; }
      ul.main-ul li a:hover {
        transform: translateX(1rem);
        color: #08D665 !important; }
    ul.main-ul li i {
      float: right;
      cursor: pointer;
      font-size: 2rem; }
    ul.main-ul li ul {
      padding: 1rem 2rem;
      clear: both;
      display: none; }

@keyframes play-button {
  from {
    height: 7rem;
    width: 7rem;
    opacity: .7; }
  to {
    height: 14rem;
    width: 14rem;
    opacity: 0; } }

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

header {
  background-image: url("../img/wlc-bg1.jpg");
  background-size: cover;
  background-position: center; }

.button-type-1 {
  padding: 5px 1rem;
  background: #08D665;
  color: #fff !important;
  font-weight: 700;
  display: inline-block;
  font-size: 1.3rem; }

.button-type-2 {
  background-color: #08D665;
  color: #fff;
  padding: 1.4rem 2.6rem;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid #08D665;
  display: inline-block; }
  .button-type-2 i {
    background-color: #fff;
    color: #08D665;
    padding: .5rem;
    border-radius: 5px;
    font-size: 2rem;
    margin-left: 1rem; }
  .button-type-2:hover {
    color: #08D665;
    background-color: transparent;
    border-color: #08D665; }

.button-type-3 {
  background-color: #fff;
  color: #0B0D0E !important;
  border-radius: 3px;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  display: inline-block; }

.button-type-link {
  color: #08D665 !important;
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block; }
  .button-type-link i {
    margin-right: 0.5rem;
    transition: .3s; }
  .button-type-link:hover i {
    margin-right: 1rem; }

.hover-round-effect {
  position: absolute;
  bottom: -25%;
  right: -25%;
  z-index: -1;
  height: 32rem;
  width: 32rem; }
  .hover-round-effect .circles {
    height: 32rem;
    width: 32rem;
    transition: .3s;
    transform: scale(0); }
    .hover-round-effect .circles div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
    .hover-round-effect .circles div:nth-child(1) {
      width: 6rem;
      height: 6rem;
      background-color: #08D665;
      z-index: 5; }
    .hover-round-effect .circles div:nth-child(2) {
      width: 14rem;
      height: 14rem;
      background-color: #09ef71;
      z-index: 4; }
    .hover-round-effect .circles div:nth-child(3) {
      width: 22rem;
      height: 22rem;
      background-color: #1bf67e;
      z-index: 3; }
    .hover-round-effect .circles div:nth-child(4) {
      width: 32rem;
      height: 32rem;
      background-color: #4cf89a;
      z-index: 2; }

.banner-slider {
  position: relative; }
  .banner-slider .slick-dots {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 10rem;
    position: absolute;
    right: 0;
    top: 50%; }
    .banner-slider .slick-dots li {
      counter-reset: slider-dots;
      height: auto;
      width: auto;
      margin-bottom: 1rem; }
      .banner-slider .slick-dots li button {
        outline: none;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        font-size: 1.2rem;
        counter-increment: slider-dots;
        font-weight: 700;
        background-color: transparent;
        color: #08D665;
        border: 1px solid #08D665; }
        .banner-slider .slick-dots li button::before {
          content: counter(slider-dots);
          font-size: 0; }
      .banner-slider .slick-dots li.slick-active > button {
        color: #fff;
        background-color: #08D665; }

.slider-type-2-arrows .arrows, .slider-type-3-arrows .arrows {
  border-radius: 5px;
  border: 1px solid #08D665;
  color: #08D665;
  font-size: 2rem;
  padding: 1rem;
  display: inline-block;
  margin: 0 0.5rem;
  cursor: pointer; }

.slider-type-3 {
  margin-left: -2rem;
  margin-right: -2rem; }

.banner {
  height: 70rem; }
  .banner-slider {
    margin-top: 10rem;
    height: 50rem; }
    .banner-slider-item h2 {
      font-weight: 600;
      font-family: 'Oswald', sans-serif; }
    .banner-slider-item.item-1 {
      background-image: url("../img/author2-1.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain; }

.navBar {
  position: relative;
  border-bottom: .5px solid #383838; }
  .navBar-top {
    background-color: #2E3D44; }
    .navBar-top-left {
      float: left; }
      .navBar-top-left .chat-icon {
        background-color: #08D665;
        padding: 1rem 1.4rem; }
    .navBar-top-right {
      float: right; }
      .navBar-top-right ul li a {
        font-size: 1.4rem;
        color: #fff !important;
        padding: 1.1rem;
        display: block;
        border-left: 1px solid #ffffff66; }
  .navBar-desktop {
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0; }
    .navBar-desktop .logo-area {
      padding: 1rem 0; }
    .navBar-desktop .navigations ul li {
      position: relative; }
      .navBar-desktop .navigations ul li a {
        color: #fff;
        padding: 3.5rem 1rem;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1px; }
        .navBar-desktop .navigations ul li a i {
          margin-left: 5px; }
      .navBar-desktop .navigations ul li ul {
        display: none;
        position: absolute;
        top: 100%;
        background-color: #2E3D44;
        z-index: 1;
        width: 28rem;
        padding: 2rem 0; }
        .navBar-desktop .navigations ul li ul li a {
          display: block;
          padding: 1rem 3rem;
          position: relative; }
          .navBar-desktop .navigations ul li ul li a span {
            height: 2px;
            background-color: #08D665;
            display: inline-block;
            margin-right: 1rem; }
        .navBar-desktop .navigations ul li ul li::after {
          display: none; }
      .navBar-desktop .navigations ul li::after {
        content: '';
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        height: 1px;
        width: 0;
        background-color: #08D665;
        transition: .3s; }
      .navBar-desktop .navigations ul li:hover::after {
        width: 100%; }
    .navBar-desktop .search-box {
      padding: 3rem 0; }
      .navBar-desktop .search-box .search-form {
        position: relative; }
        .navBar-desktop .search-box .search-form input {
          font-size: 1.4rem;
          padding-right: 4rem !important;
          background-color: transparent;
          color: #fff; }
        .navBar-desktop .search-box .search-form .search-button {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          color: #fff;
          background-color: #08D665;
          width: 3rem; }
  .navBar-mobile {
    padding: 1rem 0; }
    .navBar-mobile .logo-area img {
      max-width: 150px; }
    .navBar-mobile p.menu-icon {
      font-size: 2rem;
      margin: 0;
      padding: 1.4rem 0; }
    .navBar-mobile-navigation {
      background-color: #2E3D44;
      width: 0;
      max-width: 30rem;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
      overflow-x: hidden; }
      .navBar-mobile-navigation .navigation-top div {
        padding: 1.4rem 0;
        text-align: center;
        font-size: 1.4rem; }

section.about {
  background-image: url("../img/about-bg-1.png");
  background-position: top right; }
  section.about .shape::after {
    content: '';
    background-image: url("../img/about-shape2.svg");
    background-repeat: no-repeat;
    position: absolute;
    bottom: -6rem;
    left: -4rem;
    height: 28rem;
    width: 28rem; }
  section.about .shape::before {
    content: '';
    background-image: url("../img/about-shape2.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -3rem;
    right: -4rem;
    height: 10rem;
    width: 10rem; }
  section.about img {
    object-fit: cover;
    position: relative;
    z-index: 1; }
  section.about .play-button {
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    background-color: #08D665;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
    section.about .play-button::before {
      content: '';
      position: absolute;
      height: 7rem;
      width: 7rem;
      background: #08D665;
      border-radius: 50%;
      z-index: -1;
      animation: play-button 2s linear infinite; }
    section.about .play-button::after {
      content: '';
      position: absolute;
      height: 7rem;
      width: 7rem;
      background: #08D665;
      border-radius: 50%;
      z-index: -1;
      animation: play-button 2s .5s linear infinite; }

.skills .skill-box {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  transition: border 0.3s; }
  .skills .skill-box-bar {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative; }
    .skills .skill-box-bar::after {
      content: '';
      width: 70%;
      background-color: #08D665;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .skills .skill-box:hover {
    border-color: #08D665; }

.skills .skill-bar {
  width: 100%;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  border-radius: 50px;
  overflow: hidden; }
  .skills .skill-bar-inner {
    position: absolute;
    height: 100%;
    background-color: #08D665;
    border-radius: 50px; }

.service-box {
  padding: 4rem;
  background-color: #121517;
  transition: .3s;
  position: relative;
  z-index: 2;
  overflow: hidden; }
  .service-box img {
    margin: 0 auto;
    margin-bottom: 3rem;
    display: block; }
  .service-box:hover {
    background-color: #08D665; }
    .service-box:hover .circles {
      transform: scale(1); }

.testimonials .testimonial .quote {
  line-height: 1.3; }

.price-box {
  background-color: #121517;
  padding: 5rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: .3s; }
  .price-box:hover {
    background-color: #08D665; }
    .price-box:hover p {
      color: #fff !important; }
    .price-box:hover .circles {
      transform: scale(1); }

.contact {
  background-image: url("../img/map-1.png"); }
  .contact .google-map iframe {
    width: 100%;
    height: 100%;
    min-height: 30rem; }
  .contact .form input, .contact .form textarea {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    display: block;
    width: 100%; }

.footer {
  background-image: url("../img/footer-bg.png"); }
