.service-box{
	padding: 4rem;
	background-color: lighten($color-black, 3);
	transition: .3s;
	position: relative;
	z-index: 2;
	overflow: hidden;

	img{
		margin: 0 auto;
		margin-bottom: 3rem;
		display: block;
	}
	&:hover{
		background-color: $color-theme;
		.circles{
			transform: scale(1);
		}
	}
}