.banner{
	// height: 70rem;
	height: 60rem;


	&-slider{
		margin-top: 10rem;
		// height: 60rem - 10rem;
		height: 60rem - 10rem;

		&-item{
			h2{
				font-weight: 600;
				font-family: 'Oswald', sans-serif;
				font-size: 4rem;
			}
			&.item-1{

			}
		}
	}
	&::after{
		content: '';
		display: block;
		clear: both;
	}
}