// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    section{
        padding-bottom: 15rem;
    }
    .banner-slider-item{
        h2{
            font-size: 6rem;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .banner-slider-item{
        &.item-1{
            background-image: url('../img/author2-1.png');
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }
    }

    section.about{
        .shape{
            &::after{
                content: '';
                background-image: url('../img/about-shape2.svg');
                background-repeat: no-repeat;
                position: absolute;
                bottom: -6rem;
                left: -4rem;
                height: 28rem;
                width: 28rem;
            }

            &::before{
                content: '';
                background-image: url('../img/about-shape2.svg');
                background-repeat: no-repeat;
                position: absolute;
                top: -3rem;
                right: -4rem;
                height: 10rem;
                width: 10rem;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}